

    <nav class="navbar navbar-expand-xl navbar-light bg-light" >
        <a class="navbar-brand" href="/"><h2>Coffee Tasting Journal</h2></a>
    
        <div class ='navbar-nav'>
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/user">Journal</a>
        </div>
        
      </nav>

