<html>

<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

    <p> This is the journal page where all the entries will show up.  </p>

    <% data.forEach(function(entry){ %>
        <p><%= entry.Coffee_ID %> </p>
    <% }) %>

</body>
</html>